.note-main {
    display: flex;
    height: 100%;
    position: relative;

    .note-menu {
        position: absolute;
        background-color: pink;
        display: none;
    }

    .note-left {
        position: relative;
        width: 300px;
        padding: 2px 0px 0 0px;
        border-right: 1px solid #eee;
        height: 100%;

        .menu-header {
            width: 100%;
            height: 34px;
            padding: 2px 8px 4px 8px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            margin-bottom: 2px;
        }

        .menu-list {
            height: 100%;
            border-top: 1px solid #eee;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 34px 0 24px 0;

            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                // border-radius: 3px;
                // -moz-border-radius: 3px;
                // -webkit-border-radius: 3px;
                background-color: #c3c3c3;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }

        .menu-footer {
            border-top: 1px solid #eee;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 35px;
            background-color: white;
            display: flex;
            align-items: center;
            padding: 0 10px;

            .action-tip {
                width: 100px;
            }

            .menu-footer-action {
                margin-right: 4px;
                width: 30px;
                height: 30px;
                line-height: 34px;
                cursor: pointer;
                display: inline-block;
                color: #666;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .note-content {
        width: calc(100% - 300px);
        height: 100%;
        position: relative;
        .content-main {
            height: calc(100% - 34px);
        }

        .content-footer {
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: white;
            border-top: 1px solid #eee;
            .menu-footer-action {
                margin-right: 4px;
                width: 30px;
                height: 30px;
                line-height: 34px;
                cursor: pointer;
                color: #666;
                display: inline-block;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}
