.login-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #154374;

    .login-action {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin-bottom: 10px;
        .login-tip {
            // border-bottom: 1px solid #a0a5a8;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: #409eff;
            }
        }
    }

    .login-main {
        width: 360px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: -20px;
    }

    .avatar_box {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .login-logo {
            width: 80px;
            height: 40px;
        }
    }

    .ant-form-item {
        margin-bottom: 12px;
    }

    .login-form-button {
        width: 100%;
        font-weight: 700;
    }
}
