.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-right: 10px;
    border-bottom: 1px solid #eee;

    .header-action {
        height: 56px;
        display: flex;
        align-items: center;
        .action-logo {
            width: 130px;
            height: 50px;
            line-height: 50px;
        }

        .api-limit {
            margin: 0 0 0 10px;
        }
    }
}

.main-box {
    height: calc(100% - 56px);
    overflow: hidden;
}

.titlebar {
    background: #fff;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user-box {
        display: flex;
        align-items: center;
        .user-icon {
            width: 36px;
            height: 36px;
            border-radius: 12px;
        }
    }
}

.api-text {
    color: white;
    padding-left: 5px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button {
    margin-left: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    &:hover {
        background-color: #eee;
    }
}

.api-tip {
    min-width: 460px !important;
}

#titlebar-close {
    &:hover {
        color: white;
        background-color: rgb(235, 32, 19);
    }
}
